/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.my-todos li{
    cursor: pointer;
    border: 1px solid rgb(181,181,181);
    border-radius: 5px;
    list-style: none;
    padding: 5px;
    margin: 5px;
}
.my-active{
    border:1px solid red;
    color:white !important;
}